.Modal__Chooser {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Modal__Chooser .MuiFormControl-root,
.Modal__Chooser .MuiTextField-root {
    width: 100%;
}

.Modal__Button {
    display: flex;
    justify-content: flex-end;
}
